<div class="container py-5">
  <h3>Companies</h3>
  <%= link_to "+ Create a Company", new_company_path %><br>
  <% if @companies.empty? %>
  <p>No Companies Found</p>
  <% else %>
    <ul class="list-group my-5">
      <% @companies.each do |company| %>
        <li class="list-group-item d-flex justify-content-between">
          <a href="<%= company_path(company) %>">
            <%= company.name %>
          </a>
          <%=
            link_to "Delete",
              company,
              :method => :delete,
              class: "btn btn-sm btn-danger",
              data: { confirm: "Are you sure?" }
          %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
